<!DOCTYPE html>
<html lang="en">

<head>
  <title>A letter to 🎅 Santa</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
</head>

<body>
  <header>
    <h1>
      A letter to Santa
    </h1>
  </header>

  <% if (accepted === true) { %>
    <p>✨✨✨ Mr. Santa has received your request~~~ ho ho ho 🎅</p>
  <% } %>

  <% if (accepted === false) { %>
    <% if (user) { %>
        <p>😞 Aww... we could no longer send you a present this year. You've grown so much...</p>
    <% } else { %>
        <p>Oh, sorry... we couldn't find your address 🤔 did you enter your data correctly?</p>
    <% } %>
  <% } %>

  <main>
    <p class="bold">Ho ho ho, what you want for christma?</p>

    <form method="post">
      who are you?
      <input name="username" placeholder="charlie.brown" autofocus required />
      what do you want for christmas?
      <textarea name="wish" rows="10" cols="45" maxlength="100" placeholder="Gifts!"></textarea>
      <br/>
      <button type="submit" id="submit-letter">Send</button>
    </form>
  </main>
</body>

</html>
